{% extends 'admin/base_site.html' %}
{% load static %}

{% block content %}
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="progress-wrapper">
                <div id="progress-bar-file" class="progress"></div>
            </div>
            <br/>
            <input id="file-name" type="hidden" name="file-name"/>
            <button id="submit-button" type="submit" disabled>Import CSV
            </button>
        </form>
    </div>
    <br/>
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}"
          type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="{% static 'products/js/products.js' %}"></script>

{% endblock %}